<div class="row params">
  <div class="col-md-4">
      <h3>Please chose test</h3>

      <select class="form-control form-control-lg params">
        <optgroup label="Eagle">
          <option value="MEGA" selected>MEGA service</option>
          <option value="PW">PW service</option>
        </optgroup>
      </select>

    <label class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">AUM</span>
    </label>

    <label class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">FX</span>
    </label>

    <label class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Posting</span>
    </label>
  </div>

  <div class="col-md-4">
      <h3>Please set number of users</h3>
      <input type="number" name="users" value="1" class="form-control form-control-lg params">
  </div>

  <div class="col-md-4">
    <h3>Please set time</h3>
    <input type="number" name="users" value="600" class="form-control form-control-lg params">
  </div>
</div>

<div class="row align-items-center params">
  <div class="col">
    <button type="button" name="button" class="btn btn-success btn-lg .btn-block">Run test</button>
  </div>
</div>
